<div class="input-group">
  <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2" [(ngModel)]="keyValue" #ctrl="ngModel">
  <span class="input-group-addon" id="basic-addon2" (click)="search()"><i class="fa fa-search"></i></span>
</div>
<div *ngIf="useOrg">
  {{organization?.orgName}} <button class="btn btn-sm" (click)="clearOrganization()"><i class="fa fa-times"></i></button>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success" (click)="generateKeys($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Сгененировать ключи</button>
</div>
<div infinite-scroll #scroller
     class="key-scroller"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
  <table class="table">
    <tr *ngFor="let key of keys">
      <th scope="row">
        {{key.key}}
      </th>
      <td>
        {{key.validDays}}
      </td>
      <td>
        {{key.orgName}}
      </td>
      <td>
        <input type="checkbox" [ngModel]="key.approved" disabled>
      </td>
      <td>
        {{key.version}}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn" (click)="showCerts($event, key)" *ngIf="key.certificateId"><i class="fa fa-certificate" aria-hidden="true"></i> Сертификат</button>
          <button type="button" class="btn btn-danger" (click)="deleteKey($event, key)"><i class="fa fa-times " aria-hidden="true"></i> Удалить</button>
          <button type="button" class="btn btn-info" (click)="approveKey($event, key)" *ngIf="!key.approved"><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i> Подтвердить</button>
        </div>
      </td>
    </tr>
  </table>
</div>

