<html>
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <style type="text/css">
        @import "#springUrl('/js/dojo/resources/dojo.css')";
        @import "#springUrl('/js/dijit/themes/tundra/tundra.css')";

    </style>
    <link rel="stylesheet" type="text/css" href="#springUrl('/js/dijit/themes/nihilo/nihilo.css')" />
    <script src="#springUrl('/js/dojo/dojo.js')" djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dijit.InlineEditBox");
        dojo.require("dijit.form.TextBox");
        dojo.require("dijit.form.DateTextBox");
        dojo.require("dijit.form.Button");
        dojo.require("dijit.Dialog");
        dojo.require("dojo.parser");

        function editUser(userId) {
            dojo.xhrGet({
                url:"#springUrl('/secure/viewUser.json')?id=" + userId,
                handleAs:"json",
                load: function(data){
                    for(var i in data){
                        var elem =dojo.byId("user" + i);
                        if (elem != null) {
                            elem.innerHTML = data[i] == null ? "" : data[i];
                            elem.value = data[i] == null ? "" : data[i];

                        }

                    }
                    var userDlg = dijit.byId("userDlg");
                    userDlg.show();
                }
            });
        }
        function updateCertificate(certId, fieldName, fieldValue) {
            var componentName = fieldName + "_" + certId;
            var form = dojo.byId("updateForm");
            for (var i = 0; i < form.elements.length; i++) {
                form.elements[i].value = form.elements[i].name == fieldName ? fieldValue : null;
            }
            dojo.byId("updateForm").id.value = certId;
            dojo.byId(componentName).style.backgroundColor = "#0000FF";

            dojo.xhrPost({
                form: "updateForm",
                load: function(data, ioArgs){
                    dojo.byId(componentName).style.backgroundColor = "#FFFFFF";
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                    //dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            });
        }
        function revokeCertificate(certId, button) {
            button.set('disabled', true);
            dojo.xhrPost({
                url: "#springUrl('/secure/revokeCert.json')",
                content: {id: certId},
                load: function(data, ioArgs) {
                    button.destroy(false);
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                }
            });
        }
        function reissueCertificate(certId, button) {
            button.set('disabled', true);
            dojo.xhrPost({
                url: "#springUrl('/secure/reissueCert.json')",
                content: {id: certId},
                load: function(data, ioArgs) {
                    button.destroy(false);
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                }
            });
        }
        function deleteCertificate(certId, button) {
            button.set('disabled', true);
            dojo.xhrPost({
                url: "#springUrl('/secure/deleteCert.json')",
                content: {id: certId},
                load: function(data, ioArgs) {
                    button.destroy(false);
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                }
            });
        }
            dojo.addOnLoad(function() {
                #foreach($certificateData in $certificateDataList)
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){updateCertificate($certificateData.id, "email", value)}
                            },
                            "email_$certificateData.id");
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateCertificate($certificateData.id, "orgName", value)}
                            },
                            "orgName_$certificateData.id");
                    new dijit.InlineEditBox({
                                editor: "dijit.form.DateTextBox",
                                editorParams: {
                                    required: true,
                                    datePattern:"dd-MM-yyyy"
                                },
                                autoSave: false,
                                onChange: function(value){updateCertificate($certificateData.id, "issueDate", value)}
                            },
                            "issueDate_$certificateData.id");
                    new dijit.InlineEditBox({
                                editor: "dijit.form.DateTextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){updateCertificate($certificateData.id, "endDate", value)}
                            },
                            "endDate_$certificateData.id");
                    #if (!$certificateData.inactive)
                        new dijit.form.Button({
                            label: "#springMessage('certificate.revoke')",
                            onClick: function() {
                                revokeCertificate($certificateData.id, this)
                            }
                        }, "revoke_$certificateData.id");
                        new dijit.form.Button({
                            label: "#springMessage('certificate.reissue')",
                            onClick: function() {
                                reissueCertificate($certificateData.id, this)
                            }
                        }, "reissue_$certificateData.id");
                    #elseif($certificateData.outdated)
                        new dijit.form.Button({
                            label: "#springMessage('certificate.delete')",
                            onClick: function() {
                                deleteCertificate($certificateData.id, this)
                            }
                        }, "delete_$certificateData.id");
                    #end
                #end
            });
    </script>
</head>
<body class="nihilo">
<div id="updateFormDIV" style="visibility: hidden;"><form name="updateForm" id="updateForm" action="#springUrl('/secure/updateCert.json')">
    <input name="email" type="hidden">
    <input name="orgName" type="hidden">
    <input name="issueDate" type="hidden">
    <input name="endDate" type="hidden">
    <input name="id" type="hidden">
</form></div>
<div id="userDlg" dojoType="dijit.Dialog" title="User edit">
    <form id="editUserForm" name="editUserForm" action="#springUrl('/secure/updateUser')">
        <input type="hidden" name="id">
        <table width="600px">
            <tr>
                <td>ID:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usermacAddress" title="macAddress"></span></td>
            </tr>
            <tr>
                <td>ИНН:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userinn" title="inn"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.name.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="username" title="name"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.email.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="useremail" title="email"></span></td>
            <tr>
                <td>#springMessage("userData.orgName.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userorgName" title="orgName"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.orgTitle.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userorgTitle" title="orgTitle"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.orgTitle.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usercountry" title="country"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.orgTitle.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userregion" title="region"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.orgTitle.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usercity" title="city"></span></td>
            </tr>
        </table>
        <button dojoType="dijit.form.Button" type="button">
            Save
            <script type="dojo/method" event="onClick" args="evt">
                alert('save');
            </script>
        </button>
        <button dojoType="dijit.form.Button" type="button">
            Cancel
            <script type="dojo/method" event="onClick" args="evt">
                alert('cancel');
            </script>
        </button>
    </form>
</div>
<a href="#springUrl('/')">Home</a>&nbsp;|&nbsp;<a href="#springUrl('/j_spring_security_logout')">Logout</a><br /><br />
<br />
#if ($certificateListBean.order.size() == 0)
    #set($currentOrder="")
#else
    #set($currentOrder=$certificateListBean.order[0])
#end
<table>
    <tr>
        <td>#columnCaption("ID:", "mac", $currentOrder, $certificateListBean.desc, "?")</td>
        <td>#columnCaption("E-Mail:", "email", $currentOrder, $certificateListBean.desc, "?")</td>
        <td>#columnCaption ("#springMessage('certificateData.issueDate.caption'):", "issueDate", $currentOrder, $certificateListBean.desc, "?")</td>
        <td>#columnCaption ("#springMessage('certificateData.endDate.caption'):", "endDate", $currentOrder, $certificateListBean.desc, "?")</td>
        <td>#springMessage("userData.caption"):</td>
        <td>#springMessage("principal.caption"):</td>
        <td>#columnCaption ("#springMessage('org.caption'):", "orgName", $currentOrder, $certificateListBean.desc, "?")</td>
        <td>#columnCaption ("#springMessage('certificateData.inactive.caption'):", "inacive", $currentOrder, $certificateListBean.desc, "?")</td>
    </tr>                                                                     *
    #foreach($certificateData in $certificateDataList)
    <tr>
        <td><a href="#springUrl('/secure/viewCertificate.go?id=')$certificateData.id">$certificateData.macAddress</a></td>
        <td><div id="email_$certificateData.id">$certificateData.email</div></td>
        <td><div id="issueDate_$certificateData.id">$certificateData.issueDate</div></td>
        <td><div id="endDate_$certificateData.id">$certificateData.endDate</div></td>
        <td>
            #if ($certificateData.userId != 0)
                <button dojoType="dijit.form.Button" type="button">
                    #defaultValue($certificateData.userData.name, "<-->")
                    <script type="dojo/method" event="onClick" args="evt">
                        // Show the Dialog:
                        editUser('$certificateData.userId');
                    </script>
                </button>
            #end
         </td>
        <td>#defaultValue($certificateData.principalName, "")</td>
        <td><span id="orgName_$certificateData.id">#defaultValue($certificateData.orgName, "")</span></td>
        <td><div id="delete_$certificateData.id"></div><div id="revoke_$certificateData.id"></div><div id="reissue_$certificateData.id"></div></td>
    </tr>
    #end
</table>
#pager($certificateListBean.start, $certificateListBean.count, 10, $listSize, "?")
#include("footer.vm")
</body>
</html>