<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="header">
  <h1>
    {{title}}
  </h1>
</div>
<div>
<tabset #staticTabs>
  <tab heading="Организации">
    <app-organizations></app-organizations>
  </tab>
  <tab heading="Ключи" (select)="initKeys()">
    <app-keys></app-keys>
  </tab>
  <tab heading="Сертификаты">
    <app-certificates></app-certificates>
  </tab>
  <tab heading="Пользователи">
    <app-users></app-users>
  </tab>
</tabset>
</div>
