<div class="input-group">
  <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2" [(ngModel)]="name" #ctrl="ngModel">
  <span class="input-group-addon" id="basic-addon2" (click)="search()"><i class="fa fa-search"></i></span>
</div>
<div *ngIf="useOrg">
  {{organization?.orgName}} <button class="btn btn-sm" (click)="clearOrganization()"><i class="fa fa-times"></i></button>
</div>
<div infinite-scroll #scroller
     class="usr-scroller"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
  <table class="table">
    <tr *ngFor="let user of users">
      <th scope="row">
        {{user.macAddress}}
      </th>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.orgName}}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn" (click)="showCerts($event, user)"><i class="fa fa-certificate" aria-hidden="true"></i> Сертификаты</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser($event, user)"><i class="fa fa-times  " aria-hidden="true"></i> Удалить</button>
        </div>
      </td>
    </tr>
  </table>
</div>

