.usr-scroller {
  margin:0 auto;
  overflow: scroll;
  /* Firefox */
  height: -moz-calc(100vh - 120px);
  /* WebKit */
  height: -webkit-calc(100vh - 120px);
  /* Opera */
  height: -o-calc(100vh - 120px);
  /* Standard */
  height: calc(100vh - 120px);
}
