<div class="input-group">
  <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2" [(ngModel)]="orgName" #ctrl="ngModel">
  <span class="input-group-addon" id="basic-addon2" (click)="search()"><i class="fa fa-search"></i></span>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success" (click)="addOrganization($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Новая организация</button>
</div>
<div infinite-scroll #scroller
     class="org-scroller"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
    <table class="table">
    <tr *ngFor="let org of organizations">
      <th scope="row">
        {{org.orgName}}
      </th>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="editOrganization($event, org)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="btn" (click)="showCerts($event, org)"><i class="fa fa-certificate" aria-hidden="true"></i> Сертификаты</button>
          <button type="button" class="btn" (click)="showKeys($event, org)"><i class="fa fa-key" aria-hidden="true"></i> Ключи</button>
          <button type="button" class="btn" (click)="showUsers($event, org)"><i class="fa fa-user-o" aria-hidden="true"></i> Пользователи</button>
        </div>
      </td>
    </tr>
    </table>
</div>

