<div class="input-group">
  <input type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2" [(ngModel)]="keyValue" #ctrl="ngModel">
  <span class="input-group-addon" id="basic-addon2" (click)="search()"><i class="fa fa-search"></i></span>
</div>
<div>
  <span *ngIf="useOrg">
    {{organization?.orgName}} <button class="btn btn-sm" (click)="clearOrganization()"><i class="fa fa-times"></i></button>
  </span>
  <span *ngIf="useKey">
    {{key?.key}} <button class="btn btn-sm" (click)="clearKey()"><i class="fa fa-times"></i></button>
  </span>
  <span *ngIf="useUser">
    {{user?.email}} <button class="btn btn-sm" (click)="clearUser()"><i class="fa fa-times"></i></button>
  </span>
</div>
<div infinite-scroll #scroller
     class="cert-scroller"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
  <table class="table">
    <tr *ngFor="let cert of certificates">
      <th scope="row">
        {{cert.regKey}}
      </th>
      <td>
        {{cert.email}}
      </td>
      <td>
        {{cert.issueDate}}
      </td>
      <td>
        {{cert.endDate}}
      </td>
      <td>
        {{cert.orgName}}
      </td>
      <td>
        <input type="checkbox" [ngModel]="cert.inactive" disabled>
      </td>
      <td>
        {{cert.version}}
      </td>
      <td>
        <div class="btn-group">
          <!--<button type="button" class="btn" (click)="showUser($event, cert)"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Пользователь</button>-->
          <button type="button" class="btn btn-warning" (click)="retractCert($event, cert)" *ngIf="!cert.inactive"><i class="fa fa-undo" aria-hidden="true"></i> Отозвать</button>
          <button type="button" class="btn btn-info" (click)="reissueCert($event, cert)" *ngIf="!cert.inactive"><i class="fa fa-repeat" aria-hidden="true"></i> Перевыпустить</button>
          <button type="button" class="btn btn-danger" (click)="deleteCert($event, cert)" *ngIf="cert.inactive"><i class="fa fa-times" aria-hidden="true"></i> Удалить</button>
        </div>
      </td>
    </tr>
  </table>
</div>

