<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Закрыть" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div infinite-scroll #scroller
       class="cert-scroller"
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <table class="table">
      <tr *ngFor="let cert of certificates">
        <th>
          {{cert.email}}
        </th>
        <td>
          {{cert.issueDate}}
        </td>
        <td>
          {{cert.endDate}}
        </td>
        <td>
          {{cert.orgName}}
        </td>
        <td>
          <input type="checkbox" [ngModel]="cert.inactive" disabled>
        </td>
        <td>
          {{cert.version}}
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="retractCert($event, cert)" *ngIf="!cert.inactive"><i class="fa fa-undo" aria-hidden="true"></i> Отозвать</button>
            <button type="button" class="btn btn-info" (click)="reissueCert($event, cert)" *ngIf="!cert.inactive"><i class="fa fa-repeat" aria-hidden="true"></i> Перевыпустить</button>
            <button type="button" class="btn btn-danger" (click)="deleteCert($event, cert)" *ngIf="cert.inactive"><i class="fa fa-times" aria-hidden="true"></i> Удалить</button>
          </div>
        </td>
      </tr>
    </table>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Закрыть</button>
</div>
