﻿<html>
<head>
    <title>#springMessage("application.caption")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <style type="text/css">
        @import "#springUrl('/js/dojo/resources/dojo.css')";
    </style>
    <link rel="stylesheet" type="text/css" href="#springUrl('/js/dijit/themes/nihilo/nihilo.css')" />
    <style type="text/css">

    body, html {
        width:100%;
        height:100%;
        margin:0;
        padding:0;
    }
    </style>
    <script>
        var dojoConfig = {
            isDebug: true,
            parseOnLoad: true,
            // look for a locale=xx query string param, else default to 'en-us'
            locale: location.search.match(/locale=([\w\-]+)/) ? RegExp.$1 : "ru"
        };
    </script>
    <script src="#springUrl('/js/dojo/dojo.js')"></script>
    <script>
        // New: Require in the dojo.fx module
        dojo.require("dojo.parser");
        dojo.require("dijit.layout.BorderContainer");
        dojo.require("dijit.layout.TabContainer");
        dojo.require("dijit.layout.AccordionContainer");
        dojo.require("dijit.layout.ContentPane");
        dojo.require("dijit.InlineEditBox");
        dojo.require("dijit.form.TextBox");
        dojo.require("dijit.form.NumberTextBox");
        dojo.require("dijit.form.DateTextBox");
        dojo.require("dijit.form.Button");
        dojo.require("dijit.Dialog");
        dojo.require("dijit.form.Select");
        dojo.require("dijit.Editor");
        dojo.require("dijit._editor.plugins.Print");

        var orgList;
        var keys = new Array();
        var users = new Array();
        var certs = new Array();
        var currentOrgId = 0;


        function loadPanes(orgId) {
            currentOrgId = orgId;
            dijit.byId("keysPane").set('href', "#springUrl('/secure/keyList.go?start=0&orgId=')" + orgId);
            dijit.byId("usersPane").set('href', "#springUrl('/secure/userList.go?start=0&orgId=')" + orgId);
            //dijit.byId("certsPane").set('href', "#springUrl('/secure/certList.go?orgId=')" + orgId);
        }

        dojo.addOnLoad(function() {
            if (!orgList) {
                dojo.xhrGet({
                    url: "#springUrl('/secure/orgList.json')",
                    handleAs:"json",
                    load: function(data) {
                        orgList = data;
                        var orgContainer = dijit.byId("orgPane");
                        var select = dijit.byId("orgIdSelect");
                        dojo.forEach(data, function(organization, i) {
                            //var orgDiv = dojo.byId("orgDiv");
                            //contentPane.addChild(orgDiv);
                            orgContainer.addChild(new dijit.layout.ContentPane({
                                title: organization.orgName,
                                content: organization.inn,
                                id: organization.id,
                                style: "height: 600px; "
                            }));
                            select.addOption({
                                label: organization.orgName,
                                value: organization.id
                            })
                        });
                    }
                });
            }
            loadPanes(0);
            dojo.subscribe("orgPane-selectChild", function(pane){
                loadPanes(pane.id);
                if (pane.id != 0)
                    pane.set("href", "#springUrl('/secure/viewOrg.go?id=')" + pane.id);
                dojo.connect(pane, "onDownloadEnd", null, function() {
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){
                                    updateOrg(pane.id, "orgName", value)}
                            },
                            dojo.byId("orgorgName_" + pane.id));
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){
                                    updateOrg(pane.id, "inn", value)}
                            },
                            dojo.byId("orginn_" + pane.id));
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){
                                    updateOrg(pane.id, "country", value)}
                            },
                            dojo.byId("orgcountry_" + pane.id));
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){
                                    updateOrg(pane.id, "region", value)}
                            },
                            dojo.byId("orgregion_" + pane.id));
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){
                                    updateOrg(pane.id, "city", value)}
                            },
                            dojo.byId("orgcity_" + pane.id));
                });
                /* if (!keys[pane.id]) {
                    dojo.xhrGet({
                        url: "#springUrl('/secure/keyList.json?orgId=')" + pane.id,
                        handleAs: "json",
                        load: function(data) {
                            loadKeys(data);
                            keys[pane.id] = data;
                        }
                    })
                } else {
                    loadKeys(keys[pane.id]);
                } */
            });

            dojo.connect(dijit.byId("usersPane"), "onDownloadEnd", null, function() {
                var panes = dojo.query(".usrPane");
                for (var i = 0; i < panes.length; i++) {
                    var pane = panes[i];
                    var userId = pane.id.substring(9);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){
                                    updateUser(this.id, "name", value)}
                            },
                            dojo.byId("usrname_" + userId));
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "inn", value)}
                            },
                            "usrinn_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: true},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "email", value)}
                            },
                            "usremail_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "principalName", value)}
                            },
                            "usrprincipalName_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "orgName", value)}
                            },
                            "usrorgName_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "orgTitle", value)}
                            },
                            "usrorgTitle_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "country", value)}
                            },
                            "usrcountry_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "region", value)}
                            },
                            "usrregion_" + userId);
                    new dijit.InlineEditBox({
                                editor: "dijit.form.TextBox",
                                editorParams: {required: false},
                                autoSave: false,
                                onChange: function(value){updateUser(this.id, "city", value)}
                            },
                            "usrcity_" + userId);
                    new dijit.form.Button({
                        label: "#springMessage('userData.delete')",
                        onClick: function() {
                            deleteUser(this.id, this)
                        }
                    }, "usrdelete_" + userId);

                }

                var certPanes = dojo.query(".certPane");
                for (var i = 0; i < certPanes.length; i++) {
                    dojo.connect(dijit.byId(certPanes[i].id), "onDownloadEnd", null, function() {
                        var certUserId = this.id.substring(6);
                        var certIds = dojo.query(".certId_" + certUserId);
                        for (var c = 0; c < certIds.length; c++) {
                            var certId = certIds[c].id.substring(5);

                            new dijit.InlineEditBox({
                                        editor: "dijit.form.TextBox",
                                        editorParams: {required: true},
                                        autoSave: false,
                                        onChange: function(value){updateCertificate(this.id, "email", value)}
                                    },
                                    "certemail_" + certId);
                            new dijit.InlineEditBox({
                                        editor: "dijit.form.TextBox",
                                        editorParams: {required: false},
                                        autoSave: false,
                                        onChange: function(value){updateCertificate(this.id, "orgName", value)}
                                    },
                                    "certorgName_" + certId);
                            new dijit.InlineEditBox({
                                        editor: "dijit.form.DateTextBox",
                                        editorParams: {
                                            required: true,
                                            datePattern:"dd-MM-yyyy"
                                        },
                                        autoSave: false,
                                        onChange: function(value){updateCertificate(this.id, "issueDate", value)}
                                    },
                                    "certissueDate_" + certId);
                            new dijit.InlineEditBox({
                                        editor: "dijit.form.DateTextBox",
                                        editorParams: {required: true},
                                        autoSave: false,
                                        onChange: function(value){updateCertificate(this.id, "endDate", value)}
                                    },
                                    "certendDate_" + certId);
                            if (dojo.byId("certrevoke_" + certId)) {
                                new dijit.form.Button({
                                    label: "#springMessage('certificate.revoke')",
                                    onClick: function() {
                                        revokeCertificate(this.id, this)
                                    }
                                }, "certrevoke_" + certId);
                                new dijit.form.Button({
                                    label: "#springMessage('certificate.reissue')",
                                    onClick: function() {
                                        reissueCertificate(this.id, this)
                                    }
                                }, "certreissue_" + certId);
                            } else if (dojo.byId("certdelete_" + certId)) {
                                new dijit.form.Button({
                                    label: "#springMessage('certificate.delete')",
                                    onClick: function() {
                                        deleteCertificate(this.id, this)
                                    }
                                }, "certdelete_" + certId);
                            }
                        }
                    });
                }
            });
        })
    </script>
    <script type="text/javascript">
    ///////////////////
    // certList
    //////////////////

    var userDlg;
    var editOrgDlg;

    function updateOrg(orgId, fieldName, fieldValue) {
        var componentName = "org" + fieldName + "_" + orgId;
        dojo.byId(componentName).style.backgroundColor = "#0000FF";

        dojo.xhrPost({
            url: "#springUrl('/secure/updateOrg.json')",
            handleAs: "json",
            content: {
                orgId: orgId,
                fieldName: fieldName,
                fieldValue: fieldValue},
            load: function(data, ioArgs){
                if (data.result == "OK") {
                    dojo.byId(componentName).style.backgroundColor = "#FFFFFF";
                } else {
                    dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });
    }

    function editOrg() {
        var form = document.forms.editOrgForm;
        dijit.byId("saveOrgButton").set('disabled', false);
        dijit.byId("cancelOrgButton").set('disabled', false);
        editOrgDlg = dijit.byId("editOrgDlg");
        editOrgDlg.show();
    }

    function saveOrg() {
        var form = document.forms.editOrgForm;
        form.inn.value = dijit.byId("orginn").value;
        form.orgName.value = dijit.byId("orgorgName").value;
        form.country.value = dijit.byId("orgcountry").value;
        form.region.value = dijit.byId("orgregion").value;
        form.city.value = dijit.byId("orgcity").value;
        var json = dojo.formToJson("editOrgForm");
        dijit.byId("saveOrgButton").set('disabled', true);
        dijit.byId("cancelOrgButton").set('disabled', true);
        dojo.xhrPut({
            url: "#springUrl('/secure/saveOrg.json')",
            putData: json,
            handleAs: "json",
            headers: { "Content-Type": "application/json"},
            load: function(data, ioArgs) {
                if (data.result == "OK") {
                    editOrgDlg.hide();
                    //dijit.byId("orgPane").set("href", "#springUrl('/secure/orgList.json')")
                    var orgContainer = dijit.byId("orgPane");
                    var select = dijit.byId("orgIdSelect");
                    orgContainer.addChild(new dijit.layout.ContentPane({
                        title: data.object.orgName,
                        content: data.object.inn,
                        id: data.object.id
                    }));
                    select.addOption({
                        label: data.object.orgName,
                        value: data.object.id
                    })

                } else {

                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });

    }

    function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }

    function updateCertificate(fieldId, fieldName, fieldValue) {
        var certId = fieldId.substring(fieldId.indexOf("_") + 1);
        var componentName = "cert" + fieldName + "_" + certId;
        dojo.byId(componentName).style.backgroundColor = "#0000FF";

        dojo.xhrPost({
            url: "#springUrl('/secure/updateCert.json')",
            handleAs: "json",
            content: {
                certId: certId,
                fieldName: fieldName,
                fieldValue: fieldValue},
            load: function(data, ioArgs){
                if (data.result == "OK") {
                    dojo.byId(componentName).style.backgroundColor = "#FFFFFF";
                } else {
                    dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });
    }

    function revokeCertificate(fieldId, button) {
        var certId = fieldId.substring(fieldId.indexOf("_") + 1);
        var buttonReissue = dijit.byId("certreissue_" + certId);
        button.set('disabled', true);
        dojo.xhrPost({
            url: "#springUrl('/secure/revokeCert.json')",
            content: {id: certId},
            load: function(data, ioArgs) {
                if (data.result = "OK") {
                    button.destroy(false);
                    buttonReissue.destroy(false);
                } else {
                    console.error("Certificate wasn't revoked"); // display the error
                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
            }
        });
    }

    function reissueCertificate(fieldId, button) {
        var certId = fieldId.substring(fieldId.indexOf("_") + 1);
        var buttonRevoke = dijit.byId("certrevoke_" + certId);
        button.set('disabled', true);
        dojo.xhrPost({
            url: "#springUrl('/secure/reissueCert.json')",
            content: {id: certId},
            load: function(data, ioArgs) {
                if (data) {
                    addCertRow(data[i]);
                    button.destroy(false);
                    buttonRevoke.destroy(false);

                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
            }
        });
    }

    function deleteCertificate(fieldId, button) {
        var certId = fieldId.substring(fieldId.indexOf("_") + 1);
        button.set('disabled', true);
        dojo.xhrPost({
            url: "#springUrl('/secure/deleteCert.json')",
            content: {id: certId},
            load: function(data, ioArgs) {
                if (data.result == "OK") {
                    button.destroy(false);
                    removeCertRow(id);
                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
            }
        });
    }

    function addCertRow(certData) {
        var table = document.getElementById('certlist');
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell = row.insertCell(0);
        cell.innerHTML = certData.email;
        cell = row.insertCell(1);
        cell.innerHTML = certData.issueDate;
        cell = row.insertCell(2);
        cell.innerHTML = certData.endDate;
        cell = row.insertCell(3);
        cell.innerHTML = certData.principalName;
        cell = row.insertCell(4);
        cell.innerHTML = certData.orgName;
        cell = row.insertCell(5);
        cell.innerHTML = '<button id="certrevoke_' + certData.id + '" type="button"></button><button id="certreissue_' + certData.id + '" type="button"></button>';
        new dijit.form.Button({
            label: "#springMessage('certificate.revoke')",
            onClick: function() {
                revokeCertificate("certrevoke_" + certData.id);
            }
        }, "certrevoke_" + certData.key);
        new dijit.form.Button({
            label: "#springMessage('certificate.reissue')",
            onClick: function() {
                revokeCertificate("certreissue_" + certData.id);
            }
        }, "certreissue_" + certData.key);
    }

    function removeCertRow(id) {
        var table = document.getElementById('certlist');
        var rowCount = table.rows.length;
        try {
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                if (row != null && row.id == "certrow_" + id) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }

            }
        }catch(e) {
        }
    }

    //////////////
    // keyList
    //////////////
    var certDlg;
    var generateDlg;
    var listStore;

    function generateKeysDialog() {
        var form = document.forms.generateKeysForm;
        dijit.byId("generateButton").set('disabled', false);
        dijit.byId("cancelGenerateButton").set('disabled', false);
        generateDlg = dijit.byId("generateKeysDlg");
        generateDlg.show();
    }

    function generateKeys() {
        var form = document.forms.generateKeysForm;
        dijit.byId("generateButton").set('disabled', true);
        dijit.byId("cancelGenerateButton").set('disabled', true);
        dojo.xhrPost({
            form: "generateKeysForm",
            handleAs: "json",
            load: function(data, ioArgs){
                generateDlg.hide();
                for (var i = 0; i < data.length; i++) {
                    //listStore.newItem(data[i]);
                    addRow(data[i]);
                }
                dojo.xhrPut({
                    url: "#springUrl('/secure/printKeys.go')",
                    putData: dojo.toJson(data),
                    handleAs: "text",
                    headers: { "Content-Type": "application/json"},
                    load: function(result, ioArgs){
                        var printDiv = dijit.byId("printKeysDiv");
                        var printDlg = dijit.byId("printKeysDlg");
                        printDiv.setValue(result);
                        printDlg.show();
                    },
                    error: function(err, ioArgs){
                        console.error(err); // display the error
                        //dojo.byId(componentName).style.backgroundColor = "#FF0000";
                    }
                })
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });
    }

    function addRow(keyData) {
        var table = document.getElementById('keysTable');
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell = row.insertCell(0);
        cell.innerHTML = keyData.key;
        cell = row.insertCell(1);
        cell.innerHTML = keyData.version;
        cell = row.insertCell(2);
        cell.innerHTML = keyData.validDays;
        cell = row.insertCell(3);
        cell.innerHTML = keyData.orgName;
        cell = row.insertCell(4);
        cell.innerHTML = keyData.principalName;
        row.insertCell(5);
        row.insertCell(6);
        cell = row.insertCell(7);
        cell.innerHTML = '<button id="approve_' + keyData.key + '" type="button"></button>';
        new dijit.form.Button({
            label: "#springMessage('approve.caption')",
            onClick: function() {
                approveKey(keyData.key);
            }
        }, "approve_" + keyData.key);
        cell = row.insertCell(8);
        cell.innerHTML = '<button id="delete_' + keyData.key + '" type="button"></button>';
        new dijit.form.Button({
            label: "#springMessage('regKey.delete')",
            onClick: function() {
                deleteKey(keyData.key);
            }
        }, "delete_" + keyData.key);
    }

    function removeRow(key) {
        var table = document.getElementById('keysTable');
        var rowCount = table.rows.length;
        try {
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                var cell = row.cells[0];
                if(null != cell && cell.innerHTML == key) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }

            }
        }catch(e) {
        }
    }

    function approveKey(id) {
        var button = dijit.byId("approve_" + id);
        button.set('disabled', true);
        dojo.xhrGet({
            url:"#springUrl('/secure/approveKey.json')?key=" + id,
            handleAs:"json",
            load: function(data){
                var res = data["result"];
                if (res == "NotFound") {
                    button.set('label', '#springMessage("notFound.caption")');
                } else if (res == "AccessDenied") {
                    button.set('label', '#springMessage("accessDenied.caption")');
                } else {
                    button.set('label', '#springMessage("approved.caption")');
                }
            }
        });

    }

    function deleteKey(id) {
        var button = dijit.byId("delete_" + id);
        button.set('disabled', true);
        dojo.xhrGet({
            url:"#springUrl('/secure/deleteKey.json')?key=" + id,
            handleAs:"json",
            load: function(data){
                var res = data["result"];
                if (res == "NotFound") {
                    button.set('label', '#springMessage("notFound.caption")');
                } else if (res == "AccessDenied") {
                    button.set('label', '#springMessage("accessDenied.caption")');
                } else {
                    removeRow(id);
                    //button.set('label', '#springMessage("approved.caption")');
                }
            }
        });

    }

    function editCert(certId) {
        var form = document.forms.editCertForm;
        form.elements.id.value = certId;
        dijit.byId("saveCertButton").set('disabled', false);
        dijit.byId("cancelCertButton").set('disabled', false);
        dojo.xhrGet({
            url:"#springUrl('/secure/viewCertificate.json')?id=" + certId,
            handleAs:"json",
            load: function(data){
                dijit.byId("editUsrBtn").set('label', data.userData.name);
                for(var i in data){
                    if (i == "userId")
                        form.userId.value = data[i];
                    var elem =dijit.byId("cert" + i);
                    if (elem != null ) {
                        if (data[i] != null)
                            elem.setValue(data[i]);
                        else
                            elem.setValue("");
                    }

                }
                certDlg = dijit.byId("certDlg");
                certDlg.show();
            }
        });
    }

    function saveCert() {
        var form = document.forms.editCertForm;
        for(var i = 0; i < form.elements.length; i++) {
            var field = form.elements[i];
            if (field.name != "id" && field.name != "userId" && field.type == "hidden") {
                field.value = dijit.byId("cert" + field.name).getValue();
            }
        }
        dijit.byId("saveCertButton").set('disabled', true);
        dijit.byId("cancelCertButton").set('disabled', true);
        var json = dojo.formToJson("editCertForm");
        dojo.xhrPut({
            url: "#springUrl('/secure/saveCert.json')",
            handleAs: "json",
            putData: json,
            headers: { "Content-Type": "application/json"},
            load: function(data, ioArgs){
                certDlg.hide();
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });

    }

    function editUser(userId) {
        var form = document.forms.editUserForm;
        form.elements.id.value = userId;
        dijit.byId("saveUserButton").set('disabled', false);
        dijit.byId("cancelUserButton").set('disabled', false);
        dojo.xhrGet({
            url:"#springUrl('/secure/viewUser.json')?id=" + userId,
            handleAs:"json",
            load: function(data){
                for(var i in data){
                    var elem =dijit.byId("user" + i);
                    if (elem != null ) {
                        if (data[i] != null)
                            elem.setValue(data[i]);
                        else
                            elem.setValue("");

                    }

                }
                userDlg = dijit.byId("userDlg");
                userDlg.show();
            }
        });
    }

    function saveUser() {
        var form = document.forms.editUserForm;
        for(var i = 0; i < form.elements.length; i++) {
            var field = form.elements[i];
            if (field.name != "id" && field.type == "hidden") {
                field.value = dijit.byId("user" + field.name).getValue();
            }
        }
        var json = dojo.formToJson("editUserForm");
        dijit.byId("saveUserButton").set('disabled', true);
        dijit.byId("cancelUserButton").set('disabled', true);
        dojo.xhrPut({
            url: "#springUrl('/secure/saveUser.json')",
            putData: json,
            handleAs: "json",
            headers: { "Content-Type": "application/json"},
            load: function(data, ioArgs){
                if (data.result == "OK") {
                    dijit.byId("editUsrBtn").set('label', form.name.value);
                    userDlg.hide();

                } else {

                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });

    }
    /////////////////
    // userList
    /////////////////

    function updateUser(fieldId, fieldName, fieldValue) {
        var userId = fieldId.substring(fieldId.indexOf("_") + 1);
        var componentName = "usr" + fieldName + "_" + userId;
        dojo.byId(componentName).style.backgroundColor = "#0000FF";

        dojo.xhrPost({
            url: "#springUrl('/secure/updateUser.json')",
            handleAs: "json",
            content: {
                userId: userId,
                fieldName: fieldName,
                fieldValue: fieldValue},
            load: function(data, ioArgs){
                if (data.result == "OK") {
                    dojo.byId(componentName).style.backgroundColor = "#FFFFFF";
                } else {
                    dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
                //dojo.byId(componentName).style.backgroundColor = "#FF0000";
            }
        });
    }

    function deleteUser(fieldId, button) {
        var userId = fieldId.substring(fieldId.indexOf("_") + 1);
        button.set('disabled', true);
        dojo.xhrPost({
            url: "#springUrl('/secure/deleteUser.json')",
            content: {id: userId},
            load: function(data, ioArgs) {
                button.destroy(false);
                dijit.byId("usersPane").set("href", "#springUrl('/secure/userList.go?orgId=')" + currentOrgId);
            },
            error: function(err, ioArgs){
                console.error(err); // display the error
            }
        });
    }

    function changeOrder(paneId, link, arguments) {
        dijit.byId(paneId).set("href", link + "&" + arguments);
    }

    </script>
    <style type="text/css">
        html, body { width: 100%; height: 100%; margin: 0; }
    </style>
</head>
<body class="nihilo">
<div id="updateOrgFormDIV" style="visibility: hidden;"><form name="updateOrgForm" id="updateOrgForm" action="#springUrl('/secure/updateOrg.json')">
    <input name="inn" type="hidden">
    <input name="orgName" type="hidden">
    <input name="country" type="hidden">
    <input name="region" type="hidden">
    <input name="city" type="hidden">
    <input name="id" type="hidden">
</form></div>
<div id="editOrgDlg" dojoType="dijit.Dialog" title="#springMessage("organization.edit")">
    <form id="editOrgForm" name="editOrgForm">
        <input name="id" type="hidden" value="0">
        <input name="inn" type="hidden">
        <input name="orgName" type="hidden">
        <input name="country" type="hidden">
        <input name="region" type="hidden">
        <input name="city" type="hidden">
        <table width="400px">
            <tr>
                <td style="width: 20%">#springMessage("organization.inn.caption"):</td>
                <td style="width: 80%"><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orginn" title="#springMessage('organization.inn.caption')"></span></td>
            </tr>
            <tr>
                <td style="width: 20%">#springMessage("org.name"):</td>
                <td style="width: 80%"><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orgorgName" title="#springMessage('org.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("country.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orgcountry" title="#springMessage('country.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("region.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orgregion" title="#springMessage('region.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("city.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orgcity" title="#springMessage('city.caption')"></span></td>
            </tr>
        </table>
    </form>
    <button dojoType="dijit.form.Button" id="saveOrgButton" type="button">
        #springMessage("save.caption")
        <script type="dojo/method" event="onClick" args="evt">
            saveOrg();
        </script>
    </button>
    <button dojoType="dijit.form.Button" id="cancelOrgButton" type="button">
        #springMessage("cancel.caption")
        <script type="dojo/method" event="onClick" args="evt">
            editDlg.hide();
        </script>
    </button>

</div>

<div id="userDlg" dojoType="dijit.Dialog" title="#springMessage('userData.edit')">
    <form id="editUserForm" name="editUserForm">
        <input type="hidden" name="id">
        <input type="hidden" name="macAddress">
        <input type="hidden" name="inn">
        <input type="hidden" name="name">
        <input type="hidden" name="email">
        <input type="hidden" name="orgName">
        <input type="hidden" name="orgTitle">
        <input type="hidden" name="region">
        <input type="hidden" name="country">
        <input type="hidden" name="city">
        <table width="600px">
            <tr>
                <td>ID:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usermacAddress" title="ID"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.inn.caption")</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userinn" title="#springMessage('userData.inn.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.name.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="username" title="#springMessage('userData.name.caption')"></span></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="useremail" title="E-mail"></span></td>
            </tr>
            <tr>
                <td>#springMessage("org.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userorgName" title="#springMessage('org.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("orgTitle.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userorgTitle" title="#springMessage('orgTitle.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("country.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usercountry" title="#springMessage('country.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("region.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="userregion" title="#springMessage('region.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("city.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="usercity" title="#springMessage('city.caption')"></span></td>
            </tr>
        </table>
    </form>
    <button dojoType="dijit.form.Button" id="saveUserButton" type="button">
        #springMessage("save.caption")
        <script type="dojo/method" event="onClick" args="evt">
            saveUser();
        </script>
    </button>
    <button dojoType="dijit.form.Button" id="cancelUserButton" type="button">
        #springMessage('cancel.caption')
        <script type="dojo/method" event="onClick" args="evt">
            userDlg.hide();
        </script>
    </button>

</div>
<div id="certDlg" dojoType="dijit.Dialog" title="#springMessage('certificateData.edit')">
    <form id="editCertForm" name="editCertForm" action="#springUrl('/secure/updateCert')">
        <input type="hidden" name="id">
        <input type="hidden" name="userId">
        <input type="hidden" name="macAddress">
        <input type="hidden" name="version">
        <input type="hidden" name="email">
        <input type="hidden" name="orgName">
        <input type="hidden" name="issueDate">
        <input type="hidden" name="endDate">
        <table width="600px">
            <tr>
                <td>ID:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="certmacAddress" title="ID"></span></td>
            </tr>
            <tr>
                <td>#springMessage("application.version"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="certversion" title="Version"></span></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="certemail" title="E-mail"></span></td>
            </tr>
            <tr>
                <td>#springMessage("org.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="certorgName" title="#springMessage('org.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("certificateData.issueDate.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.DateTextBox" id="certissueDate" title="#springMessage('certificateData.issueDate.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("certificateData.endDate.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.DateTextBox" id="certendDate" title="#springMessage('certificateData.endDate.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("userData.caption"):</td>
                <td><button dojoType="dijit.form.Button" type="button" id="editUsrBtn">
                    <script type="dojo/method" event="onClick" args="evt">
                        // Show the Dialog:
                        editUser(document.editCertForm.userId.value);
                    </script>
                </button></td>
            </tr>

        </table>
    </form>
    <button dojoType="dijit.form.Button" id="saveCertButton" type="button">
        #springMessage("save.caption")
        <script type="dojo/method" event="onClick" args="evt">
            saveCert();
        </script>
    </button>
    <button dojoType="dijit.form.Button" id="cancelCertButton" type="button">
        #springMessage("cancel.caption")
        <script type="dojo/method" event="onClick" args="evt">
            certDlg.hide();
        </script>
    </button>

</div>

<div id="updateUserFormDIV" style="visibility: hidden;"><form name="updateUserForm" id="updateUserForm" action="#springUrl('/secure/updateUser.json')">
    <input name="name" type="hidden">
    <input name="inn" type="hidden">
    <input name="macAddress" type="hidden">
    <input name="email" type="hidden">
    <input name="orgName" type="hidden">
    <input name="orgTitle" type="hidden">
    <input name="country" type="hidden">
    <input name="region" type="hidden">
    <input name="city" type="hidden">
    <input name="id" type="hidden">
</form></div>
<div id="generateKeysDlg" dojoType="dijit.Dialog" title="#springMessage('generateKeys')">
    <form name="generateKeysForm" id="generateKeysForm" method="POST" ACTION="#springUrl('/secure/generateKeys.json')">
        <table>
            <tr>
                <td>#springMessage("generateKeysForm.count.caption"): </td><td><input type="text" name="count" dojoType="dijit.form.NumberTextBox"></td>
            </tr>
            <tr>
                <td>#springMessage("generateKeysForm.days.caption"): </td><td><input type="text" name="days" dojoType="dijit.form.NumberTextBox"></td>
            </tr>
            <tr>
                <td>#springMessage("generateKeysForm.orgName.caption"): </td><td><select name="orgId" id="orgIdSelect" dojoType="dijit.form.Select">
                <option value="0">...</option>
            </select></td>
            </tr>
            <tr>
                <td>#springMessage("application.version"): </td><td><input type="text" name="version" dojoType="dijit.form.TextBox" value="$version"></td>
            </tr>
        </table>
        <button dojoType="dijit.form.Button" id="generateButton" type="button">
            #springMessage("generateKeys")
            <script type="dojo/method" event="onClick" args="evt">
                generateKeys();
            </script>
        </button>
        <button dojoType="dijit.form.Button" id="cancelGenerateButton" type="button">
            #springMessage("cancel.caption")
            <script type="dojo/method" event="onClick" args="evt">
                generateDlg.hide();
            </script>
        </button>

    </form>
</div>

<div id="printKeysDlg" dojoType="dijit.Dialog" title="#springMessage("keyList.caption")">
    <div id="printKeysDiv" dojoType="dijit.Editor" id="editor" extraPlugins="['print']">
    </div>
</div>

<div dojoType="dijit.layout.BorderContainer" style="width: 100%; height: 100%;">
    <div dojoType="dijit.layout.ContentPane" region="top">
        <a href="#springUrl('/')">Home</a>&nbsp;|&nbsp;<a href="#springUrl('/j_spring_security_logout')">Logout</a><br />
    </div>
    <div dojoType="dijit.layout.ContentPane" region="leading" style="width: 25%">
        <div dojoType="dijit.layout.ContentPane">
            <button dojoType="dijit.form.Button" id="newOrgButton" type="button">
                #springMessage("organization.add")
                <script type="dojo/method" event="onClick" args="evt">
                    editOrg();
                </script>
            </button>
        </div>
        <div dojoType="dijit.layout.AccordionContainer" id="orgPane" style="height: 100%">
            <div dojoType="dijit.layout.ContentPane" title="<#springMessage("organization.empty")>" id="0">
                <div dojoType="dijit.layout.ContentPane" id="orgData" style="height: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div dojoType="dijit.layout.TabContainer" region="center">
        <div dojoType="dijit.layout.ContentPane" title="#springMessage('keyList.caption')" id="keysPane" cacheContent="false">

        </div>
        <div dojoType="dijit.layout.ContentPane" id="usersPane" title="#springMessage('userList.caption')" cacheContent="false"></div>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="bottom">
        #if ($isSupervisor)
            <a href="#springUrl("/secure/getEncodedPassword.go")">#springMessage("getPassword")</a>
        #end
        #include("footer.vm")
    </div>
</div>
</body>
</html>