<html>
<head>
    <title>Organizations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <style type="text/css">
        @import "#springUrl('/js/dojo/resources/dojo.css')";
    </style>
    <link rel="stylesheet" type="text/css" href="#springUrl('/js/dijit/themes/claro/claro.css')" />
    <script src="#springUrl('/js/dojo/dojo.js')" djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dijit.InlineEditBox");
        dojo.require("dijit.form.TextBox");
        dojo.require("dijit.form.Button");
        dojo.require("dijit.Dialog");
        dojo.require("dojo.parser");
        var editDlg;

        function updateOrganization(orgId, fieldName, fieldValue) {
            var componentName = fieldName + "_" + orgId;
            var form = dojo.byId("updateOrgForm");
            for (var i = 0; i < form.elements.length; i++) {
                form.elements[i].value = form.elements[i].name == fieldName ? fieldValue : null;
            }
            dojo.byId("updateOrgForm").id.value = orgId;
            dojo.byId(componentName).style.backgroundColor = "#0000FF";

            dojo.xhrPost({
                url: "#springUrl('/secure/updateOrg.json')",
                handleAs: "json",
                content: {
                    orgId: orgId,
                    fieldName: fieldName,
                    fieldValue: fieldValue},
                load: function(data, ioArgs){
                    if (data.result == "OK") {
                        dojo.byId(componentName).style.backgroundColor = "#FFFFFF";
                    } else {
                        dojo.byId(componentName).style.backgroundColor = "#FF0000";
                    }
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                    //dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            });
        }

        function deleteOrganization(orgId, button) {
            button.set('disabled', true);
            dojo.xhrPost({
                url: "#springUrl('/secure/deleteOrg.json')",
                content: {id: orgId},
                load: function(data, ioArgs) {
                    button.destroy(false);
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                }
            });
        }

        function editOrg() {
            var form = document.forms.editForm;
            dijit.byId("saveButton").set('disabled', false);
            dijit.byId("cancelButton").set('disabled', false);
            editDlg = dijit.byId("editDlg");
            editDlg.show();
        }

        function saveOrg() {
            var form = document.forms.editForm;
            form.inn.value = dijit.byId("inn").value;
            form.orgName.value = dijit.byId("orgName").value;
            form.country.value = dijit.byId("country").value;
            form.region.value = dijit.byId("region").value;
            form.city.value = dijit.byId("city").value;
            var json = dojo.formToJson("editForm");
            dijit.byId("saveButton").set('disabled', true);
            dijit.byId("cancelButton").set('disabled', true);
            dojo.xhrPut({
                url: "#springUrl('/secure/saveOrg.json')",
                putData: json,
                handleAs: "json",
                headers: { "Content-Type": "application/json"},
                load: function(data, ioArgs) {
                    if (data.result == "OK") {
                        editDlg.hide();
                        addRow();
                    } else {

                    }
                },
                error: function(err, ioArgs){
                    console.error(err); // display the error
                    //dojo.byId(componentName).style.backgroundColor = "#FF0000";
                }
            });

        }

        function addRow() {
            var table = document.getElementById('orgsTable');
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var cell = row.insertCell(0);
            cell.innerHTML = dijit.byId("inn").value;
            cell = row.insertCell(1);
            cell.innerHTML = "$username";
            cell = row.insertCell(2);
            cell.innerHTML = dijit.byId("orgName").value;
            cell = row.insertCell(3);
            cell.innerHTML = dijit.byId("country").value;
            cell = row.insertCell(4);
            cell.innerHTML = dijit.byId("region").value;
            row.insertCell(5);
            cell.innerHTML = dijit.byId("city").value;
            row.insertCell(6);
            row.insertCell(7);
            row.insertCell(8);
        }

        function removeRow(id) {
            var table = document.getElementById('orgsTable');
            var rowCount = table.rows.length;
            try {
                for(var i=0; i<rowCount; i++) {
                    var row = table.rows[i];
                    if(row.id = id) {
                        table.deleteRow(i);
                        rowCount--;
                        i--;
                    }

                }
            }catch(e) {
            }
        }

        dojo.addOnLoad(function() {
            #foreach($organization in $organizationList)
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: true},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "orgName", value)}
                        },
                        "orgName_$organization.id");
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: false},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "inn", value)}
                        },
                        "inn_$organization.id");
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: false},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "principalName", value)}
                        },
                        "principalName_$organization.id");
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: false},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "country", value)}
                        },
                        "country_$organization.id");
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: false},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "region", value)}
                        },
                        "region_$organization.id");
                new dijit.InlineEditBox({
                            editor: "dijit.form.TextBox",
                            editorParams: {required: false},
                            autoSave: false,
                            onChange: function(value){updateOrg($organization.id, "city", value)}
                        },
                        "city_$organization.id");
                new dijit.form.Button({
                    label: "#springMessage('organization.delete')",
                    onClick: function() {
                        deleteOrg($organization.id, this)
                    }
                }, "delete_$organization.id");
            #end
        });
    </script>
</head>
<body class="claro">
<div id="updateOrgFormDIV" style="visibility: hidden;"><form name="updateOrgForm" id="updateOrgForm" action="#springUrl('/secure/updateOrg.json')">
    <input name="inn" type="hidden">
    <input name="orgName" type="hidden">
    <input name="country" type="hidden">
    <input name="region" type="hidden">
    <input name="city" type="hidden">
    <input name="id" type="hidden">
</form></div>
<div id="editDlg" dojoType="dijit.Dialog" title="Organization edit">
    <form id="editForm" name="editForm">
        <input name="id" type="hidden" value="0">
        <input name="inn" type="hidden">
        <input name="orgName" type="hidden">
        <input name="country" type="hidden">
        <input name="region" type="hidden">
        <input name="city" type="hidden">
        <table width="600px">
            <tr>
                <td>ИНН:</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="inn" title="ИНН"></span></td>
            </tr>
            <tr>
                <td>#springMessage("org.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="orgName" title="#springMessage('org.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("country.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="country" title="#springMessage('country.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("region.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="region" title="#springMessage('region.caption')"></span></td>
            </tr>
            <tr>
                <td>#springMessage("city.caption"):</td>
                <td><span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox" id="city" title="#springMessage('city.caption')"></span></td>
            </tr>
        </table>
    </form>
    <button dojoType="dijit.form.Button" id="saveButton" type="button">
        Save
        <script type="dojo/method" event="onClick" args="evt">
            saveOrg();
        </script>
    </button>
    <button dojoType="dijit.form.Button" id="cancelButton" type="button">
        Cancel
        <script type="dojo/method" event="onClick" args="evt">
            editDlg.hide();
        </script>
    </button>

</div>

<a href="#springUrl('/')">Home</a>&nbsp;|&nbsp;<a href="#springUrl('/j_spring_security_logout')">Logout</a>
#if ($organizationListBean.order.size() == 0)
    #set($currentOrder="")
#else
    #set($currentOrder=$organizationListBean.order[0])
#end
<br />
<button dojoType="dijit.form.Button" id="newOrgButton" type="button">
    New
    <script type="dojo/method" event="onClick" args="evt">
        editOrg();
    </script>
</button>
<table id="orgsTable">
    <tr>
        <td>#columnCaption("#springMessage('organization.inn.caption'):", "inn", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>#columnCaption("#springMessage('principal.caption')", "principalName", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>#columnCaption("#springMessage('org.caption')", "orgName", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>#columnCaption("#springMessage('country.caption')", "country", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>#columnCaption("#springMessage('region.caption')", "region", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>#columnCaption("#springMessage('city.caption')", "city", $currentOrder, $organizationListBean.desc, "?")</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
#foreach($organization in $organizationList)
    <tr id="$organization.id">
        <td><span id="inn_$organization.id">#defaultValue($organization.inn, "")</span></td>
        <td><span id="principalName_$organization.id">#defaultValue($organization.principalName, "  ")</span></td>
        <td><span id="orgName_$organization.id">#defaultValue($organization.orgName, "")</span></td>
        <td><span id="country_$organization.id">#defaultValue($organization.country, "")</span></td>
        <td><span id="region_$organization.id">#defaultValue($organization.region, "")</span></td>
        <td><span id="city_$organization.id">#defaultValue($organization.city, "")</span></td>
        <td><a href="#springUrl('/secure/userList.go?orgId=')$organization.id">#springMessage("userList.caption")</a></td>
        <td><a href="#springUrl('/secure/keyList.go?orgId=')$organization.id">#springMessage("keyList.caption")</a></td>
        <td><div id="delete_$organization.id">#springMessage("organization.delete")</div></td>
    </tr>
#end
</table>
<br />
#pager($organizationListBean.start, $organizationListBean.count, 10, $listSize, "?")
#include("footer.vm")
</body>
</html>