<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Закрыть" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" method="post" name="organizationForm" (ngSubmit)="onSubmit()" form-autofill-fix>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="orgName">Наименование:</label>
      <div class="input-group  col-sm-8">
        <input class="form-control" placeholder="Наименование" name="orgName" id="orgName" type="text" autofocus [(ngModel)]="organization.orgName" #orgName="ngModel" required>
      </div>
      <div [hidden]="orgName?.valid || orgName?.pristine"
           class="alert alert-danger">
        Требуется наименование организации
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="inn">ИНН:</label>
      <div class="input-group  col-sm-8">
        <input class="form-control" placeholder="ИНН" name="inn" id="inn" type="text" [(ngModel)]="organization.inn" #inn="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="region">Регион:</label>
      <div class="input-group  col-sm-8">
        <input class="form-control" placeholder="Регион" name="region" id="region" type="text" [(ngModel)]="organization.region" #region="ngModel">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="country">Страна:</label>
      <div class="input-group  col-sm-8">
        <input class="form-control" placeholder="Страна" name="country" id="country" type="text" [(ngModel)]="organization.country" #country="ngModel" minlength="2" maxlength="2">
      </div>
      <div [hidden]="country?.valid || country?.pristine"
           class="alert alert-danger">
        <div *ngIf="country?.errors?.minlength">
          Код страны должен быть не менее 2 символов
        </div>
        <div *ngIf="country?.errors?.maxlength">
          Код страны должен быть не  более 2 символов
        </div>
      </div>

    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="city">Город:</label>
      <div class="input-group  col-sm-8">
        <input class="form-control" placeholder="Город" name="city" id="city" type="text" [(ngModel)]="organization.city" #city="ngModel">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Отправить</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Закрыть</button>
</div>
